{{- $paginator := $.Paginator -}}
{{- if gt $paginator.TotalPages 1 -}}
  <nav class="pagination">
    {{- if $paginator.HasPrev -}}
      <a href="{{- $paginator.Prev.URL -}}">&lsaquo;</a>
    {{- else -}}
      <span>&lsaquo;</span>
    {{- end  -}}

    {{- range $paginator.Pagers -}}
      {{- if eq . $paginator -}}
        <span>
          {{- .PageNumber -}}
        </span>
      {{- else -}}
        <a href="{{- .URL -}}">{{- .PageNumber -}}</a>
      {{- end -}}
    {{- end -}}

    {{- if $paginator.HasNext -}}
      <a href="{{- $paginator.Next.URL -}}">&rsaquo;</a>
    {{- else -}}
      <span>&rsaquo;</span>
    {{- end -}}
  </nav>
{{- end -}}
