  <h3 class="title">Popular tags</h3>
  <ul class="secondary-section">
    {{- range $key, $tag := first 10 .Site.Taxonomies.tags.ByCount -}}
      <li>
        <a href="{{- .Page.Permalink -}}">#{{- .Page.Title -}}</a> ({{- .Count -}})
      </li>
    {{- end -}}
  </ul>
