<div class="post-summary-tiny">
  <div class="summary-body">
    <a class="summary-title" href="{{- .RelPermalink -}}">{{- .Title -}}</a></b>
    <br>
    <span class="summary-description">{{- .Description -}}</span>
  </div>
</div>
