<h3 class="title">Recent posts</h3>
<ul class="secondary-section">
  {{- range first 5 .Site.RegularPages.ByPublishDate.Reverse -}}
    <li>
      <a class="summary-title" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
    </li>
  {{- end -}}
</ul>
